#result {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px 20px;
  color: rgb(20, 23, 26);
  font-size: 1.1rem;
  width: 400px;
}
